name: Flask API CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-docker-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show files
        run: |
          echo "Listing project files"
          pwd
          ls -R

      - name: Build Docker image
        run: |
          echo "Building Docker image for kvn-flask-api..."
          docker build -t kvn-flask-api .
